<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


  <!-- About me content -->

  <!-- Added Passport size photo -->
 <div class="container" style="height: 800px;">
    <!--  <img style="margin-top: 30px;padding-top: 30px;" class="myimg" src="/Assets/images/passport_photo.jpeg" alt="My Picture" width="300dp" height="300dp">
  



  

  <!-- Brief paragraph about me -->
  
  <!--<h4>Name: Munish Bali</h4>
  <h4>Profile: Full stack developer</h4>
  <h4>Email:munishbali50@gmail.com</h4>
  <h4>Phone : 6478949126</h4>
    <h5><br>Hello everyone, I hope you all are doing great. My name is Munish Bali. I hail from Jammu and Kashmir, India.<br>
      <br>I completed my Bachelor of Engineering in Computer Science from University School of Engineering and Technology, Rayat Bahra University.<br>
      <br>I am currently enrolled in <b>Software Eng. Tech.(Fast-track)</b> course at <b>Centennial College</b>.<br><br>
    </h5> -->

    <!-- Link to download my resume -->
    <!--<h5><a href="/Assets/document/Munish's_Resume.pdf" download>Here's the link to download my resume</a></h5>
   -->

    <div class="about-section;">
      <h1>About Me</h1>
      <p>Experienced Software developer, with experience in full-stack development, Testing, client service. Strong problem solving skills and a passion for learning new technologies.</p>
      <p>Current Student of Software Engineering Technology Advanced Diploma; Holds a Bachelor of Computer Science. Full Stack developer experienced in building out consumer applications. Experienced in developing responsive, cross browser and web application with Angular, Html, Css and JavaScript libraries.</p>
    </div>
    
    <div class="row" >
      <div class="column">
        <div class="card" style="align-items: center; background-color: rgb(146, 137, 137)" >
          <img  src="/Assets/images/passport_photo.jpeg"  alt="Jane" width="300dp" height="300dp" >
          <div class="container">
            <h2>Munish Bali</h2>
            <p class="title">CEO & Founder</p>
            <p>Full Stack Developer</p>
            <p class="card-text">Email: <a href="mailto:munishbali50@gmail.com">munishbali50@gmail.com</a></p>
            
          </div>
        </div>
    </div>
</div>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>