<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


  <!-- Contact me content -->
  <br><br>

  <!-- Contact me form -->
  <form class="container" style="height: 800px;">
    <div style="float:left; padding-left:410px;">
      <label class="lefttext">Your name</label>
      <input type="text" class="form-control" size="35" placeholder="Full Name">
    </div>
    <div style="float:left; padding-left:410px;">
      <label  class="lefttext">Your email</label>
      <input type="email" class="form-control" size="35" placeholder="xyz@example.com">
    </div>
    <div style="float:left; padding-left:410px;">
      <label class="lefttext">Your message</label>
      <textarea type="text" rows="5" cols="37" class="form-control" placeholder="Type your message here"></textarea><br>
    </div>
    <div style="float: left; padding-left: 510px;">
      <a href="/home" ><button type="button" value="Submit" class="btn btn-success">Let's Connect</button></a>
    </div><br>
    <h5 style="margin-top: 400px;">Get in Touch</h5>
    <div style=" border: 1px solid;border-color: aquamarine; width: fit-content; margin-left: 330px; background-color: rosybrown;">
    <h6>For any type of online project or query, please don't hesitate <br> to get in touch with me. The easy and fastest way is to send me <br> your message using my email.</h6>
    </div>
    <!-- Contact card -->
    <div class="card card border-success mb-3" style="margin-left:310px; margin-right:310px;">
      <div class="card-header">
        <h5 class="card-title">Munish Bali</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Email: <a href="mailto:munishbali50@gmail.com">munishbali50@gmail.com</a></p>
        <p class="card-text">Phone: +1-6478949126</p>
      </div>
    </div>
  </form>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>