<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


  <!--Projects content-->
  <div class="container" style="margin-top: 30px;">
    <h2 style="color: Black; text-shadow: white"><br>Projects </h2>


  <div class="container" style="padding-bottom:100px; height: 800px;" >
   
  

  <div>
    <div class="row" style="margin-left: 150px;">
      <div class="col-sm-5 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Lincoln Financial Group</h5>
            <img class="myimg" src="/Assets/images/lfg.jpg" alt="Java Logo" height="60dp" width="60dp">
            <a href="https://www.javatpoint.com/java-tutorial" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sammaons Financial group</h5>
            <img class="myimg" src="/Assets/images/sfg.png" alt="Angualar Logo" height="60dp" width="60dp">
            <a href="https://angular.io/" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row" style="margin-left: 150px;margin-top: 20px;">
      <div class="col-sm-5 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Digital Calculator</h5>
            <img class="myimg" src="/Assets/images/calc.jpg"  alt="Windows Logo" height="60dp" width="60dp">
            <a href="https://www.howtogeek.com/" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Personal Website</h5>
            <img class="myimg" src="/Assets/images/coders.png"  alt="Windows Logo" height="60dp" width="60dp">
            <a href="https://www.freelancer.com/" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  
      <div class="row" style="margin-left: 150px; margin-top: 20px;" >
        <div class="col-sm-5 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Speech Text Converter</h5>
              <img class="myimg" src="/Assets/images/speedcode.png"  alt="Windows Logo" height="60dp" width="60dp">
              <a href="https://www.w3schools.com/" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Job Search</h5>
              <img class="myimg" src="/Assets/images/job.jpg"  alt="Windows Logo" height="60dp" width="60dp">
              <a href="https://www.ibm.com/topics/cybersecurity" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
  </div>
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>