<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


  <!-- Services content -->
  <div class="container" style="margin-top: 30px; height: 800px;">
    <h2><br>Our Services</h2>
  

  <!-- <div class="container">
    <br><img class="myimg" src="/Assets/images/java.jpg" alt="Java Logo" height="60dp" width="60dp"><h4>General Programming in Java</h4>
    <br><img class="myimg" src="/Assets/images/angular.png" alt="Angualar Logo" height="60dp" width="60dp"><h4>Angular tutorials for the beginners.</h4>
    <br><img class="myimg" src="/Assets/images/windows.jpg"  alt="Windows Logo" height="60dp" width="60dp"><h4>Operating system troubleshooting for OS such as Windows</h4>
  </div> -->

  <div class="row" style="margin-left: 150px;">
    <div class="col-sm-5 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Java Programming</h5>
          <img class="myimg" src="/Assets/images/java.jpg" alt="Java Logo" height="60dp" width="60dp">
          <a href="https://www.javatpoint.com/java-tutorial" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
          <img class="myimg" src="/Assets/images/angular.png" alt="Angualar Logo" height="60dp" width="60dp">
          <a href="https://angular.io/" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-left: 150px;margin-top: 20px;">
    <div class="col-sm-5 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Operating System Troubleshooting</h5>
          <img class="myimg" src="/Assets/images/windows.jpg"  alt="Windows Logo" height="60dp" width="60dp">
          <a href="https://www.howtogeek.com/" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Freelancing</h5>
          <img class="myimg" src="/Assets/images/think.jpg"  alt="Windows Logo" height="60dp" width="60dp">
          <a href="https://www.freelancer.com/" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

    <div class="row" style="margin-left: 150px; margin-top: 20px;" >
      <div class="col-sm-5 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Responsive Design</h5>
            <img class="myimg" src="/Assets/images/speedcode.png"  alt="Windows Logo" height="60dp" width="60dp">
            <a href="https://www.w3schools.com/" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cyber Security</h5>
            <img class="myimg" src="/Assets/images/cyber.jpg"  alt="Windows Logo" height="60dp" width="60dp">
            <a href="https://www.ibm.com/topics/cybersecurity" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  </div>

</div>
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>